<div class="articles">

  {% for post in site.posts %}

    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
      <div class="four columns">
        <a href="{{ site.baseurl }}{{ post.url }}" class="link">
        <h3>{{ post.title }}</h3>
        <div class="justify">
          {% if post.abstract %}{{ post.abstract }}{% else %}{{ post.content | truncatewords:50 | strip_newlines }}{% endif %}
        </div>
        </a>
    {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="link">
        <h3>{{ post.title }}</h3>
        <div class="justify">
          {% if post.abstract %}{{ post.abstract }}{% else %}{{ post.content | truncatewords:50 | strip_newlines }}{% endif %}
        </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
